<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="justbucket.musicplayer">

    <application>
        <service
                android:name=".service.MusicPlayerService"
                android:enabled="true"
                android:exported="false"
                android:process=":mediaPlayerProcess"/>
        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>